<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Hobby project</title>
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="../static/assets/img/favicon.png"
    />
    <link
      rel="stylesheet"
      href="../static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Andika&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    />
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/404-NOT-FOUND-animated.css"
    />
    <link rel="stylesheet" href="../static/assets/css/Footer-Dark.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/css/PHP-Contact-Form-dark-1.css"
    />
    <link
      rel="stylesheet"
      href="../static/assets/css/PHP-Contact-Form-dark.css"
    />
    <link rel="stylesheet" href="../static/assets/css/Simple-Slider.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
    <link rel="stylesheet" href="../static/assets/css/Team-Grid.css" />
  </head>

  <body class="text-capitalize text-danger">
    <div class="container-fluid">
      <div class="row flex-column flex-sm-row wrapper min-vh-100">
        <div
          class="col-7 col-sm-1 col-md-3 flex-shrink-1 p-0 bg-dark"
          style="background: #000 !important; /*width: 200px !important;*/"
        >
          <nav
            class="
              navbar navbar-dark navbar-expand-sm
              bg-dark
              text-nowrap
              align-items-start
              flex-sm-column
            "
            style="background: #000 !important"
          >
            <div class="container flex-sm-column">
              <img
                data-bs-toggle="tooltip"
                src="../static/assets/img/grad.png"
                title="Logo"
                width="70px"
                height="80px"
              />
              <div class="row" style="text-align: center">
                <ul
                  style="
                    text-align: left;
                    margin-top: 20px;
                    font-family: Andika, sans-serif;
                    width: 40%;
                    position: relative;
                    left: 10%;
                  "
                >
                  <li style="list-style-type: none; padding-top: 5px">
                    <a
                      href="index.html"
                      style="text-decoration: none; color: white"
                      >Home</a
                    >
                  </li>
                  <li style="list-style-type: none; padding-top: 15px">
                    <a
                      href="predict_now.html"
                      style="
                        text-decoration: none;
                        color: white;
                        list-style-type: none;
                      "
                      >Predict now</a
                    >
                  </li>
                
                  <li style="list-style-type: none; padding-top: 15px">
                    <a
                      href="about.html"
                      style="
                        text-decoration: none;
                        color: white;
                        list-style-type: none;
                      "
                      >About Us</a
                    >
                  </li>
                  <li style="list-style-type: none; padding-top: 15px">
                    <a
                      href="contact.html"
                      style="
                        text-decoration: none;
                        color: white;
                        list-style-type: none;
                      "
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div
          class="col-12 col-sm-11 col-md-9 bg-light py-3"
          style="border-color: var(--bs-pink)"
        >
          <section class="team-grid">
            <div class="container">
              

              <div class= " row people" style="margin-top: -150px;">
                <div class="col-md-4 col-lg-3 item">
                  <div
                    class="box"
                    style="background-image: url(https://static.thenounproject.com/png/1050442-200.png);height:350px;background-repeat:no-repeat;" 
                  >
                  <div class="cover">
                    <h3 class="name">Bhogi Shreya</h3>
                    <p class="title">Student</p>
                    <div class="social">
                      <a href="#"><i class="fa fa-facebook-official"></i></a
                      ><a href="#"><i class="fa fa-twitter"></i></a
                      ><a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>  
                </div>
                </div>

                <div class="col-md-4 col-lg-3 item">
                  <div
                    class="box"
                    style="background-image: url(https://static.thenounproject.com/png/1050442-200.png);height:350px;background-repeat:no-repeat;"
                  >
                  <div class="cover">
                    <h3 class="name">Damarla Chandana</h3>
                    <p class="title">Student</p>
                    <div class="social">
                      <a href="#"><i class="fa fa-facebook-official"></i></a
                      ><a href="#"><i class="fa fa-twitter"></i></a
                      ><a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>  
              
                  </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                  <div
                    class="box"
                    style="background-image: url(https://static.thenounproject.com/png/1050442-200.png);height:350px;background-repeat:no-repeat;"
                  >
                  <div class="cover">
                    <h3 class="name">Kalindi Harshitha</h3>
                    <p class="title">Student</p>
                    <div class="social">
                      <a href="#"><i class="fa fa-facebook-official"></i></a
                      ><a href="#"><i class="fa fa-twitter"></i></a
                      ><a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                 </div>
                </div>
                <div class="col-md-4 col-lg-3 item">

                  <div
                    class="box"
                
                    style="background-image: url(https://static.thenounproject.com/png/1050442-200.png);height:350px;background-repeat:no-repeat;"
                  >
                  <div class="cover">
                    <h3 class="name">Swarna Kamisetti</h3>
                    <p class="title">Student</p>
                    <div class="social">
                      <a href="#"><i class="fa fa-facebook-official"></i></a
                      ><a href="#"><i class="fa fa-twitter"></i></a
                      ><a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>  
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: -100px;">
              <div class="intro">
                <h2 class="text-center">Team C5</h2>
              </div>  
            </div>
            <p align="center"> <i> <b> "Students are often worried about their chances of admission in graduate school"</p>
              <p align="center"> To help Students analyze their chances of getting into a particular school, we have come up with a Machine Learning based Model, which can ease this analysis and provide meaningful insights.</p>
                <p align="center"> Our Model takes in GRE Score, TOEFL Score, University Rating, SOP, LOR, CGPA, Prior Research Experience as inputs and predicts the chance of admission into a University</p>
                <p align="center">The predicted output from our model is good enough to give them a fairly accurate idea about their admission chances in a particular university.
                  Our Model would also help students who are currently preparing or will be preparing for Masters to set their goals and expectations rightly</p>
              </b> </i> </p>
            </section>
        </div>
        </div>
    </div>

    <footer
      class="border rounded footer-dark"
      style="
        background: black !important;
        font-family: Andika, sans-serif;
        height: 301px;
        padding: 46px 0px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Masters Preparation</a></li>
              <li><a href="#">Guidance</a></li>
              <li><a href="#">Tips and Tricks</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Team C5</h3>
            <p class="text-lowercase">
              We understand that students often get worried about their chances
              of getting admission into Masters. And hence, we want to let them
              predict their chances and plan accordingly.
            </p>
          </div>
          <div class="col item social">
            <a href="#"><i class="icon ion-social-facebook"></i></a
            ><a href="#"><i class="icon ion-social-twitter"></i></a
            ><a href="#"><i class="icon ion-social-snapchat"></i></a
            ><a href="#"><i class="icon ion-social-instagram"></i></a>
          </div>
        </div>
        <p class="copyright">Team C5 © 2021</p>
      </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="../static/assets/js/PHP-Contact-Form-dark-1.js"></script>
    <script src="../static/assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="../static/assets/js/Simple-Slider.js"></script>
  </body>
</html>